/* ----- [VARIABLES SET] -----  */
:root {
  --default-color: #fff;
  --deault-text-color: #404040;
  --primary-bg-color: #003366;
  --default-grandient-color: linear-gradient(
    90deg,
    rgba(0, 51, 102, 0.9) 0%,
    rgba(35, 115, 219, 0.81) 100%
  );
  --default-card-color: #ffffff94;
  --second-color: #000;
}
/* ----- [RESET STYLE] ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-clip-margin: unset;
}
body {
  height: 100%;
  align-items: center;
  background-color: var(--primary-bg-color);
  background-image: var(--default-grandient-color);
  color: var(--deault-text-color);
  display: flex;
  font-size: 14px;
  font-family: 'Roboto';
  justify-content: center;

}

/* ------------------------------------------------- */

.login-page {
  width: 100%;
  min-height: 100vh;
}

.login-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.login-card {
  width: 90%;
  border-radius: 10px;
  min-height: 90vh;
  display: flex;
  background-color: var(--default-card-color);
  color: var(--second-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 2px var(--primary-bg-color);
}

.login-card__logo {
  display: none;
}

.login-card__form-wrapper {
  width: 95%;

}

.login-form {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

}

.login-form__title {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

.login-form__divider {
  background-color: var(--second-color);
  height: 2px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
  width: 100%;
  min-height: 60px;
  text-transform: uppercase;
  align-items: stretch;
}

.form-group label {
  color: var(--second-color);
  margin-left: 7px;
}

.form-group input {
  border-radius: 25px;
  border: none;
  padding: 10px;
  background-color: var(--default-card-color);
  color: var(--deault-text-color);
  border: solid 1px var(--primary-bg-color);
}

.form-group--checkbox {
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-left: 10px; /* Adjusted from padding */
}

.login-form__actions{
  width: 100%;
  display: flex;
  min-height: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  width: 228px;
  height: 35px;

  border-radius: 5vh;
  background-color: var(--default-card-color);

  border: solid 1px var(--primary-bg-color);

  color: var(--primary-bg-color);
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  color: var(--primary-bg-color);
  background-color: var(--default-color);
  border: solid 1px var(--primary-bg-color);
}

/* ----------- [ RESPONSIVE STYLE ] ----------- */

  /* -------- [STYLE FOR TABLETS AND MORE] --------*/

@media screen and (min-width: 768px) {
  .login-page{
    width: 100%;
  }

  .login-card{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
  }

  .login-card__logo{
    display: flex;
    width: 40%;
    padding: 15px;
    justify-content: center;
  }

  .login-card__logo img{
    border-radius: 50%;
  }

  .login-card__form-wrapper{
    width: 60%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form{
    width: 90%;
  }

}

  /* -------- [STYLE FOR DESKTOP] --------*/
@media screen and (min-width: 1024px) {
  .login-page{
    width: 100%;
  }

  .login-card{
    width: 1000px;
  }

}