/* ----- [VARIABLES SET] -----  */
:root {
  /*-- COLOR ---*/
  --default-color: #fff;
  --deault-text-color: #404040;
  --primary-bg-color: #003366;
  --default-grandient-color: linear-gradient(
    90deg,
    rgba(0, 51, 102, 0.9) 0%,
    rgba(35, 115, 219, 0.81) 100%
  );
  --second-color: #000;
  --default-color-submenu: #f9f9f9e0;

  /*-- FONT-FAMILY ---*/
  --default-title-font-family: 'Palanquin Dark', sans-serif;

  /*-- FONT-SIZE ---*/
  --default-title-font-size: 1.2rem;
  --default-text-font-size: 12px;
  --dafault-text-font-size-tablet: 1.5rem;
}

/* ----- [RESET STYLE] ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-clip-margin: unset;
  text-decoration: none;
  list-style: none;
  color: var(--deault-text-color);
  font-size: var(--default-text-font-size);
  font-family: var(--default-title-font-family);
}

body {
  height: 100%;
  background-color: var(--default-bg-color);
  display: flex;
  flex-direction: column;
}

/* ----- [STYLE PAGE HEADER] -----  */
.page-header {
  height: 10vh;
  width: 100%;
  border-bottom: solid 1px var(--primary-bg-color);
  box-shadow: 0 4px 4px rgba(0, 51, 102, 0.5);
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-logo-container {
  height: 9.5vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-container a img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.menu-icon,
.menu-toggle {
  display: none;
}

.menu-icon {
  /* background-color: blue; */
  display: block;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1002;
  margin-right: 0.2em;
}

.menu-toggle:checked ~ .menu-icon .bar:nth-child(1) {
  transform: rotate(45deg) translate(2.5px, 3px);
}

.menu-toggle:checked ~ .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked ~ .menu-icon .bar:nth-child(3) {
  transform: rotate(-45deg) translate(2.5px, -3px);
}

.menu-icon .bar {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 2px;
  background-color: var(--primary-bg-color);
  transition: all 0.3s ease-in-out;
}

/* Overlay para fechar o menu */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu-toggle:checked ~ .overlay {
  display: block;
}

.menu-mobile-container {
  z-index: 1001;
  margin-left: auto;
}
.main-menu-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--default-color);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  display: none;
}

.menu-toggle:checked ~ .main-menu-content {
  display: block;
  transform: translateX(0);
}

/* Reseta os submenus quando o menu principal é fechado */
.menu-toggle:not(:checked) ~ .main-menu-content .submenu-toggle {
  display: none;
}

.menu-header {
  display: flex;
  min-height: 10vh;
  /* background-color: aqua; */
  border-bottom: 1px solid var(--primary-bg-color);
  box-shadow: 0 2px 2px rgba(0, 51, 102, 0.5);
  padding: 10px;
  align-items: center;
}

.menu-title {
  /* background-color: yellow; */
  font-size: var(--default-title-font-size);
  color: var(--primary-bg-color);
  font-weight: 600;
  padding: 10px;
}

.close-icon {
  cursor: pointer;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-nav-list ul li {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
  /* background-color: yellowgreen; */
}

.menu-nav-list ul li:last-child {
  border-bottom: none;
}

/* --- [STYLE FOR SUBMENU IN SUBMENU] ---*/
.submenu-toggle {
  display: none;
}

.menu-item-with-submenu {
  display: block;
  cursor: pointer;
}
.menu-item-with-submenu span {
  color: var(--primary-bg-color);
  font-weight: 700;
  position: relative; /* Necessário para o posicionamento da label de fechar */
  display: block;
  padding: 10px 0;
}

.submenu-dropdown {
  position: static;
  background-color: transparent;
  box-shadow: none;
  padding: 0 0 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu-dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.submenu-dropdown ul li a {
  color: var(--primary-bg-color);
  font-weight: 400;
}
.submenu-dropdown ul li a:hover {
  color: var(--deault-text-color);
}
.submenu-toggle:checked ~ .submenu-dropdown {
  max-height: 500px;
}

.close-submenu {
  display: none;
}

.submenu-toggle:checked + .menu-item-with-submenu .close-submenu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* ----- [STYLE PAGE MAIN] -----  */
.page-content-main {
  width: 100%;
  min-height: 80vh;
}

/* ----- [STYLE PAGE FOOTER] -----  */
.page-footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--default-color);
  border-top: solid 1px var(--primary-bg-color);
  box-shadow: 0 -2px 2px rgba(0, 51, 102, 0.5);
  padding: 10px;
  position: relative;
}

/* ----- [STYLE PAGE RESPONSIVE] -----  */

/* -------- [STYLE FOR TABLETS AND MORE] --------*/

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .menu-header {
    display: none;
  }
  .menu-toggle,
  .submenu-toggle,
  .close-submenu,
  .overlay {
    display: none;
  }
  .main-navigation{
    justify-content: space-between;
  }
  .main-menu-content {
    display: flex;
    position: static;
    transform: none;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    overflow-y: visible;
  }
  .menu-nav-list {
    width: 100%;
    gap: 0;
  }

  .menu-nav-list ul {
    display: flex;
    justify-content: space-around;
  }

  .menu-nav-list ul li {
    width: 25vh;
    border-bottom: none;
    position: relative; /* Essencial para o posicionamento do submenu */
  }

  .menu-nav-list ul li:hover > .submenu-dropdown{
    display:block;
  }

  .menu-nav-list ul li span {
    font-size: var(--dafault-text-font-size-tablet);
    text-align: center;
    padding: 10px;
  }

  .submenu-dropdown {
    display: none;
    position: absolute;
    background-color: var(--default-color-submenu);
    left: 0;
    top: 90%;
    min-width: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    max-height: none;
    width: 25vh;
  }
  .submenu-dropdown ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .submenu-dropdown ul li {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  .submenu-dropdown ul li a {
    font-size: var(--dafault-text-font-size-tablet);
    font-weight: 600;
  }
  .menu-mobile-container {
    flex-grow: 1; /* Faz o container do menu ocupar o espaço restante */
  }
}

/* -------- [STYLE FOR DESKTOP] --------*/
@media screen and (min-width: 1024px) {
  .page-header {
    height: 15vh;
  }
  .main-navigation{
    padding: 10px;
    height: 100%;
  }

  .header-logo-container{
    width: 20%;
    height: 100%;
  }
  .header-logo-container a img {
    width: 13vh;
    height: 13vh;
  }

  .menu-mobile-container {
    flex-grow: 1; /* Faz o container do menu ocupar o espaço restante */
  }

  .menu-nav-list ul li{
    width: 33vh;
  }

  .submenu-dropdown{
    width: 33vh;
  }
  .submenu-dropdown ul li {
    width: 100%;
    text-align: center;
    padding: 15px;
  }


  .page-content-main{
    min-height: 75vh;
  }
}
